button {
  color:aquamarine;
  background-color: blueviolet;
}

#emit {
  width: 100px;
  height: 100px;
  background-color: burlywood;
}

#room {
  font-size: 35;
  font-weight: bold;
}

#msg {
  width: 50vw;
}

.mine {
  max-width: 30vw;
  margin-left: auto;
}

.others {
  max-width: 30vw;
  margin-right: auto;
}